<div fxLayout="column">
  <div *ngIf="images" fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px grid"
  fxLayoutAlign="center">

    <div *ngFor="let image of images">
      <div
        fxLayoutAlign.lt-md="center"
        class="cropped-image" (click) = "imageDetails(image.id)">
          <img [src] = "image.cropped_picture">
      </div>
    </div>

  </div>

  <div fxLayoutAlign="center start">
    <button *ngIf="hasMore" type="button" mat-raised-button color = "accent" (click)="getImages()">
      Load More (Page {{currentPage}} of {{pageCount}})
    </button>
  </div>
</div>
