<div fxLayout="row" fxLayoutAlign="end start">
  <button class="close-button" mat-icon-button mat-raised-button mat-dialog-close>
    X
  </button>
</div>
<div mat-dialog-content>
  <div *ngIf="currentImageData" id="image-container">
    <div fxLayout="column" class="image-information" fxLayoutAlign="start start">
      <span>Author: {{currentImageData.author}}</span>
      <span>Camera: {{currentImageData.camera}}</span>
      <span>Tags: {{currentImageData.tags}}</span>
      <span>Id: {{currentImageData.id}}</span>
    </div>
    <div style="max-height: 65vh">
      <ngx-image-zoom
      [thumbImage]="currentImageData.full_picture"
      [magnification]="1.5"
      ></ngx-image-zoom>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button class="share-button" type="button" mat-raised-button color = "warn" (click)="prevImage()">
    Previous
  </button>
  <button class="share-button" type="button" mat-raised-button color = "primary" (click)="nextImage()">
    Next
  </button>
  <button class="share-button" type="button" mat-raised-button color = "accent" ngxClipboard [cbContent]="currentImageData?.full_picture">
    Copy Image URL to Clipboard
  </button>
</mat-dialog-actions>
