.image-information {
  z-index: 10000; /* Needed or ngx image zoom wont let it be seen*/
  position: absolute;
  background-color: rgb(78 77 77 / 0.4);
  color: white;
  font-weight: 500;
}

#image-container {
  max-height: 65vh;
  position: relative;
}

.ngxImageZoomContainer {
  max-height: 65vh;
}

.ngxImageZoomContainer img {
  display: block;
  max-height: 65vh;
}
